.card {
  /* background-color: coral; */
  height: 10rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border: 1.2px solid #999;
  box-shadow: 2px 2px 2px #999;
  border-radius: 5px;
}
.icon {
  font-size: 4rem;

  color: #333;
}
.main {
  /* padding: 1rem 1.5rem; */
  min-height: 50vh;
}
.home__main {
}
