nav {
  display: flex;

  align-items: baseline;
  border-bottom: 1px solid #999;
  padding: 0.6rem 0 0.6rem 0;
}
.title,
.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tagline {
  padding: 1.8rem 0 1.5rem 0;
}
.single__section {
  padding: 7px;
  display: flex;
  align-items: center;
}
.active-header {
  border-bottom: 3px solid rgba(75, 75, 223, 0.849);
}
.single__section p {
  margin-bottom: 0px;
}
.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem 0 1rem;
  border: 1.5px solid #999;
  margin: 0 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.number {
  background-color: #999;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem 0 0 1rem;
  margin-right: 0.5rem;
  color: #fefefe;
}
.active > p:nth-of-type(2) {
  color: cornflowerblue;
}
.active .number {
  background-color: cornflowerblue;
  color: #fefefe;
}
